.contact-form {
  background-color: #e7816b;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20vh;
}

.contact-form #msg, .contact-form #form {
  min-height: 65vh;
}

.contact-form h4 {
  width: 70%;
  font-size: 50px;
  line-height: 110%;
  color: #e7816b;
  letter-spacing: 0 0.5em;
  color: white;
}

.contact-form p {
  color: rgba(255, 255, 255, 0.897);
  width: 70%;
  font-size: 17px;
  line-height: 150%;
  margin: 10px 0;
}

.contact-form #msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-size: cover;
  background-image: url("./assets/contact/desktop/bg-pattern-hero-desktop.svg");
}

.contact-form #form {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form input, .contact-form textarea {
  background-color: transparent;
  border: none;
  color: white;
  resize: none;
  border-bottom: 1px solid #fff;
  margin: 20px auto;
  width: 100% !important;
  padding: 10px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .7;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .7;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .7;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .7;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

input:focus, textarea:focus {
  outline: none !important;
  border-bottom: 2px solid #fff;
}

button {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 08px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.1em;
  background-color: #fdf3f0;
  color: black;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 16px;
}

button:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
