.map {
  margin: 5vh auto;
  padding: 1em;
}

.map .m-card {
  border-radius: 20px;
  width: 100%;
  background-color: #fdf3f0;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map .m-card .row {
  width: 80%;
}

.map .m-card h4 {
  text-align: left;
  margin: 25px auto !important;
  width: 95%;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #E7816B;
}

.map .m-card p {
  width: 100%;
  font-size: 18px;
  line-height: 120%;
}

@media screen and (max-width: 718px) {
  .map {
    margin: 0 auto;
  }
}
